<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin</title>

</head>

<body>
    <table style="background-color: #116b5f;">
        <td style="padding: 8px;
                  text-align: left;">
            <% for(var i=0; i < result.length; i++) { %>
                <tr style="background-color: #10ebeb;">
                    <td>
                        <%= result[i].id %>
                    </td>
                    <td>
                    <td>
                        <%= result[i].subject %>
                    </td>
                    <td>
                    <td>
                        <%= result[i].day %>
                    </td>
                    <td>
                    <td>
                        <%= result[i].hour %>
                    </td>
                    <td>
                    <td>
                        <%= result[i].teacher %>
                    </td>
                    <td>
                    <td>
                        <%= result[i].classroom %>
                    </td>
                    <td>
                    <td>
                        <%= result[i].building %>
                    </td>
                </tr>
            <% } %>
    </table>
</body>

</html>